Assignment - 8th June 2025

Part A.[Q1,Q2] File Import and Display - used csv from github personal repo

https://raw.githubusercontent.com/KarthikYReddy/Mtech_Datasets/refs/heads/main/dslab/student_data.csv

In [57]:
import pandas as pd
url="https://raw.githubusercontent.com/KarthikYReddy/Mtech_Datasets/refs/heads/main/dslab/student_data.csv"
df=pd.read_csv(url,header=None)
print(df.head())

      0        1     2        3       4            5          6
0  S.No     Name   Age   Gender   Score   Attendance    Remarks
1     1  Karthik    38     Male   99.43          100   Promoted
2     2    Ajith    38     Male   92.43           87   Promoted
3     3   Arvind    38     Male   79.43           67   Promoted
4     4  Sunaina    38   Female   89.43           93   Promoted

Part B.[Q3].Handling Missing Data

In [59]:
import pandas as pd
import numpy as np
url="https://raw.githubusercontent.com/KarthikYReddy/Mtech_Datasets/refs/heads/main/dslab/student_data.csv"
df=pd.read_csv(url)
missing_counts = df.isnull().sum()
print("Missing values per column:\n", missing_counts)

Missing values per column:
 S.No           0
Name           0
 Age           3
 Gender        0
 Score         3
 Attendance    3
 Remarks       0
dtype: int64

Part B [Q4] Replace missing values

In [81]:
import pandas as pd
from google.colab import drive
import numpy as np

# Mount Google Drive
drive.mount('/content/drive')

# Load CSV
file_path = '/content/sample_data/student_data.csv'
df = pd.read_csv(file_path)

# Assign column names
df.columns = ['S.no', 'Name', 'Age', 'Gender', 'Score', 'Attendance', 'Remarks']

# Replace empty strings or whitespace-only strings with NaN
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Fill numerical columns with mean
for col in ['Age', 'Score', 'Attendance']:
    if col in df.columns:
        mean_val = df[col].astype(float).mean()
        df[col].fillna(mean_val, inplace=True)

# Fill categorical columns with mode
for col in ['Gender', 'Remarks']:
    if col in df.columns:
        mode_val = df[col].mode().iloc[0]
        df[col].fillna(mode_val, inplace=True)

# Output
print(df.head(10))
print('Missing values replaced:\n', df.isnull().sum())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   S.no     Name        Age   Gender   Score  Attendance    Remarks
0     1  Karthik  38.000000     Male   99.43  100.000000   Promoted
1     2    Ajith  38.000000     Male   92.43   87.000000   Promoted
2     3   Arvind  38.000000     Male   79.43   67.000000   Promoted
3     4  Sunaina  38.000000   Female   89.43   93.000000   Promoted
4     5    Vijay  35.000000     Male   49.43   45.000000   Rejected
5     6    Vinay  37.571429     Male   82.03   70.285714   Promoted
6     7     Usha  37.571429   Female   82.03   70.285714   Rejected
7     8   Pradip  37.571429     Male   82.03   70.285714   Rejected
8     9   Aditya  38.000000     Male   82.03  100.000000   Promoted
9    10   Suresh  38.000000     Male   82.03    0.000000   Rejected
Missing values replaced:
 S.no          0
Name          0
Age           0
Gender        0
Score         0
Attendance    0
Remarks       0
dtype: int64

<ipython-input-81-bbe888d1b817>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-81-bbe888d1b817>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-81-bbe888d1b817>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-81-bbe888d1b817>:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)

Part C: Categorical Data Encoding

Q5. Convert the Gender column into numeric format using Label Encoding.

In [87]:
import pandas as pd
from google.colab import drive
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Mount Google Drive
drive.mount('/content/drive')
# Create a label encoder object
le = LabelEncoder()

# Load CSV
file_path = '/content/sample_data/student_data.csv'
df = pd.read_csv(file_path)

# Assign column names
df.columns = ['S.no', 'Name', 'Age', 'Gender', 'Score', 'Attendance', 'Remarks']
# Apply label encoding to the Gender column
df['Gender'] = le.fit_transform(df['Gender'])

# Replace empty strings or whitespace-only strings with NaN
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Fill numerical columns with mean
for col in ['Age', 'Score', 'Attendance']:
    if col in df.columns:
        mean_val = df[col].astype(float).mean()
        df[col].fillna(mean_val, inplace=True)

# Fill categorical columns with mode
for col in ['Gender', 'Remarks']:
    if col in df.columns:
        mode_val = df[col].mode().iloc[0]
        df[col].fillna(mode_val, inplace=True)

# Output
print(df.head(10))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   S.no     Name        Age  Gender   Score  Attendance    Remarks
0     1  Karthik  38.000000       1   99.43  100.000000   Promoted
1     2    Ajith  38.000000       1   92.43   87.000000   Promoted
2     3   Arvind  38.000000       1   79.43   67.000000   Promoted
3     4  Sunaina  38.000000       0   89.43   93.000000   Promoted
4     5    Vijay  35.000000       1   49.43   45.000000   Rejected
5     6    Vinay  37.571429       3   82.03   70.285714   Promoted
6     7     Usha  37.571429       2   82.03   70.285714   Rejected
7     8   Pradip  37.571429       3   82.03   70.285714   Rejected
8     9   Aditya  38.000000       1   82.03  100.000000   Promoted
9    10   Suresh  38.000000       1   82.03    0.000000   Rejected

<ipython-input-87-271c2844b8c6>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-87-271c2844b8c6>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-87-271c2844b8c6>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-87-271c2844b8c6>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)

Q6. Convert the Remarks column using One-Hot Encoding.

In [92]:
import pandas as pd
from google.colab import drive
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Mount Google Drive
drive.mount('/content/drive')
# Create a label encoder object
le = LabelEncoder()

# Load CSV
file_path = '/content/sample_data/student_data.csv'
df = pd.read_csv(file_path)

# Assign column names
df.columns = ['S.no', 'Name', 'Age', 'Gender', 'Score', 'Attendance', 'Remarks']
# Apply label encoding to the Gender column
df['Gender'] = le.fit_transform(df['Gender'])

# Replace empty strings or whitespace-only strings with NaN
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

# Fill numerical columns with mean
for col in ['Age', 'Score', 'Attendance']:
    if col in df.columns:
        mean_val = df[col].astype(float).mean()
        df[col].fillna(mean_val, inplace=True)

# Fill categorical columns with mode
for col in ['Gender', 'Remarks']:
    if col in df.columns:
        mode_val = df[col].mode().iloc[0]
        df[col].fillna(mode_val, inplace=True)

 # One-hot encode the Remarks column
#remarks_encoded = pd.get_dummies(df['Remarks'])


# One-Hot Encoding
remarks_encoded = pd.get_dummies(df)
print(remarks_encoded)
# Output
print(df.head(10))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   S.no        Age  Gender  Attendance  Name_Aditya  Name_Ajith  Name_Arvind  \
0     1  38.000000       1  100.000000        False       False        False
1     2  38.000000       1   87.000000        False        True        False
2     3  38.000000       1   67.000000        False       False         True
3     4  38.000000       0   93.000000        False       False        False
4     5  35.000000       1   45.000000        False       False        False
5     6  37.571429       3   70.285714        False       False        False
6     7  37.571429       2   70.285714        False       False        False
7     8  37.571429       3   70.285714        False       False        False
8     9  38.000000       1  100.000000         True       False        False
9    10  38.000000       1    0.000000        False       False        False

   Name_Karthik  Name_Pradip  Name_Sunaina  ...  Score_82.03  Score_ 49.43  \
0          True        False         False  ...        False         False
1         False        False         False  ...        False         False
2         False        False         False  ...        False         False
3         False        False          True  ...        False         False
4         False        False         False  ...        False          True
5         False        False         False  ...         True         False
6         False        False         False  ...         True         False
7         False         True         False  ...         True         False
8         False        False         False  ...         True         False
9         False        False         False  ...         True         False

   Score_ 79.43  Score_ 89.43  Score_ 92.43  Score_ 99.43  Remarks_ Promoted  \
0         False         False         False          True               True
1         False         False          True         False               True
2          True         False         False         False               True
3         False          True         False         False               True
4         False         False         False         False              False
5         False         False         False         False              False
6         False         False         False         False              False
7         False         False         False         False              False
8         False         False         False         False               True
9         False         False         False         False              False

   Remarks_ Rejected  Remarks_Promoted  Remarks_Rejected
0              False             False             False
1              False             False             False
2              False             False             False
3              False             False             False
4               True             False             False
5              False              True             False
6              False             False              True
7              False             False              True
8              False             False             False
9               True             False             False

[10 rows x 24 columns]
   S.no     Name        Age  Gender   Score  Attendance    Remarks
0     1  Karthik  38.000000       1   99.43  100.000000   Promoted
1     2    Ajith  38.000000       1   92.43   87.000000   Promoted
2     3   Arvind  38.000000       1   79.43   67.000000   Promoted
3     4  Sunaina  38.000000       0   89.43   93.000000   Promoted
4     5    Vijay  35.000000       1   49.43   45.000000   Rejected
5     6    Vinay  37.571429       3   82.03   70.285714   Promoted
6     7     Usha  37.571429       2   82.03   70.285714   Rejected
7     8   Pradip  37.571429       3   82.03   70.285714   Rejected
8     9   Aditya  38.000000       1   82.03  100.000000   Promoted
9    10   Suresh  38.000000       1   82.03    0.000000   Rejected

<ipython-input-92-83cb4e6fc075>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-92-83cb4e6fc075>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-92-83cb4e6fc075>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)
<ipython-input-92-83cb4e6fc075>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)

Part D: Feature Scaling

Q7. Apply Min-Max Scaling on Score and Attendance columns and print the scaled result.

In [99]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
columnsToScale = ['Score','Attendance']
df[columnsToScale] = scalar.fit_transform(df[columnsToScale])

print(df[columnsToScale].head(10))

   Score  Attendance
0  1.000    1.000000
1  0.860    0.870000
2  0.600    0.670000
3  0.800    0.930000
4  0.000    0.450000
5  0.652    0.702857
6  0.652    0.702857
7  0.652    0.702857
8  0.652    1.000000
9  0.652    0.000000

Q8. Apply Standardization (Z-score) on the same columns and print the result.

In [102]:
from sklearn.preprocessing import StandardScaler
sscalar = StandardScaler()
columnsToScale = ['Score','Attendance']
df[columnsToScale] = sscalar.fit_transform(df[columnsToScale])
print(df[columnsToScale].head(10))

          Score    Attendance
0  1.404322e+00  1.040755e+00
1  8.393650e-01  5.854246e-01
2 -2.098413e-01 -1.150835e-01
3  5.972405e-01  7.955770e-01
4 -2.631086e+00 -8.856423e-01
5  4.480204e-16  3.888601e-16
6  4.480204e-16  3.888601e-16
7  4.480204e-16  3.888601e-16
8  4.480204e-16  1.040755e+00
9  4.480204e-16 -2.461785e+00

Q9. Apply Max Absolute Scaling on these columns and print the result.

In [104]:
from sklearn.preprocessing import MaxAbsScaler
maxabs_scale = MaxAbsScaler()
columnsToScale = ['Score','Attendance']
df[columnsToScale] = maxabs_scale.fit_transform(df[columnsToScale])
print(df[columnsToScale].head(10))

          Score    Attendance
0  5.337423e-01  4.227642e-01
1  3.190184e-01  2.378049e-01
2 -7.975460e-02 -4.674797e-02
3  2.269939e-01  3.231707e-01
4 -1.000000e+00 -3.597561e-01
5  1.702796e-16  1.579586e-16
6  1.702796e-16  1.579586e-16
7  1.702796e-16  1.579586e-16
8  1.702796e-16  4.227642e-01
9  1.702796e-16 -1.000000e+00

Q10. Apply L2 Normalization row-wise on the original Score and Attendance columns.

In [105]:
from sklearn.preprocessing import Normalizer
normalizer = Normalizer(norm='l2')
colToScale = ['Score','Attendance']
df[colToScale] = normalizer.fit_transform(df[colToScale])
print(df[colToScale].head(10))

          Score    Attendance
0  7.838898e-01  6.208999e-01
1  8.017565e-01  5.976508e-01
2 -8.627203e-01 -5.056814e-01
3  5.747776e-01  8.183097e-01
4 -9.409605e-01 -3.385163e-01
5  1.702796e-16  1.579586e-16
6  1.702796e-16  1.579586e-16
7  1.702796e-16  1.579586e-16
8  4.027768e-16  1.000000e+00
9  1.702796e-16 -1.000000e+00

Part E: Summary Statistics

Q11. Calculate and display the mean and standard deviation for all numerical columns.

In [107]:
# Select numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns

# Calculate mean
mean_values = df[numerical_cols].mean()

# Calculate standard deviation
std_values = df[numerical_cols].std()


print("Mean values:\n", mean_values)
print("\nStandard Deviation values:\n", std_values)

Mean values:
 S.no           5.500000
Age           37.571429
Gender         1.400000
Score          0.035674
Attendance     0.119266
dtype: float64

Standard Deviation values:
 S.no          3.027650
Age           0.925820
Gender        0.966092
Score         0.596716
Attendance    0.635994
dtype: float64

Q12. Calculate the correlation matrix for numerical features in the dataset and explain what it
means.

**
The correlation matrix shows pairwise correlation coefficients between numerical variables.

Values range from -1 to 1:

1 means perfect positive linear correlation (as one variable increases, the other increases).

-1 means perfect negative linear correlation (as one variable increases, the other decreases).

0 means no linear correlation.

For example:

If Score and Attendance have a correlation of 0.8, it means students with higher attendance tend to have higher scores.

If Age and Score have near-zero correlation, their relationship is weak or non-linear.

In [108]:
# Select numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns

# Calculate correlation matrix
correlation_matrix = df[numerical_cols].corr()

# Display the matrix
print(correlation_matrix)

                S.no       Age    Gender     Score  Attendance
S.no        1.000000 -0.016988  0.341882 -0.280971   -0.327743
Age        -0.016988  1.000000 -0.053240  0.598498    0.288090
Gender      0.341882 -0.053240  1.000000 -0.138286   -0.234251
Score      -0.280971  0.598498 -0.138286  1.000000    0.629024
Attendance -0.327743  0.288090 -0.234251  0.629024    1.000000

***********************Assignment End********************
----------------------------------------------------------

Types of Data - Continuous, Discrete, Categorical

In [109]:
import pandas as pd

data = pd.DataFrame({
    'Continuous': [120.3232, 442232.2323 , 48883.3333],
    'Discrete' : [2,5,6],
    'Categorical': ['Pink','Green','Blue']
})

print(data)

    Continuous  Discrete Categorical
0     120.3232         2        Pink
1  442232.2323         5       Green
2   48883.3333         6        Blue

Feature Scaling

Absolute Maximum Scaling

In [110]:
import numpy as np

X = np.array([[-522],[-1210],[122]])
X_scaled = X / np.max(np.abs(X))
print(X_scaled)

[[-0.43140496]
 [-1.        ]
 [ 0.10082645]]

Min-Max Scaling

In [111]:
from sklearn.preprocessing import MinMaxScaler

X = np.array([[10], [20], [30]])
scaler = MinMaxScaler()
X_minmax = scaler.fit_transform(X)
print(X_minmax)

[[0. ]
 [0.5]
 [1. ]]

Normalisation

In [112]:
from sklearn.preprocessing import Normalizer

X = np.array([[1,2],[3,4]])
Normalizer = Normalizer(norm='l2')
X_normalized = Normalizer.fit_transform(X)
print(X_normalized)

[[0.4472136  0.89442719]
 [0.6        0.8       ]]

Standardization

In [113]:
from sklearn.preprocessing import StandardScaler

X = np.array([[12],[45],[78]])
scalar = StandardScaler()
X_std = scalar.fit_transform(X)
print(X_std)

[[-1.22474487]
 [ 0.        ]
 [ 1.22474487]]

Import Dataset

In [114]:
import pandas as pd

url = "https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/Cryptocurrency/bitcoin-sv.csv"
df = pd.read_csv(url)
# Show first 5 rows
print(df.head())

         Date    Open    High     Low   Close       Volume    Market Cap
0  2020-12-12  161.62  166.40  161.29  165.09  328095197.0  3.070047e+09
1  2020-12-11  166.44  166.69  159.65  161.65  396994620.0  3.005926e+09
2  2020-12-10  170.34  170.96  164.39  166.41  397472839.0  3.094229e+09
3  2020-12-09  173.35  173.47  161.74  170.32  532350698.0  3.166821e+09
4  2020-12-08  179.71  181.30  170.21  173.37  569515279.0  3.223309e+09

Handling Missing Data

In [115]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'Temperature': [22, np.nan, 25, np.nan, 28],
    'Humidity': [30, 45, np.nan, 50, 55]
})

# Fill missing with mean
data_filled = data.fillna(data.mean(numeric_only=True))
print(data_filled)

   Temperature  Humidity
0         22.0      30.0
1         25.0      45.0
2         25.0      45.0
3         25.0      50.0
4         28.0      55.0

Categorical Data

In [116]:
import pandas as pd

data = pd.DataFrame({
    'Color': ['Red', 'Green', 'Blue', 'Red']
})

# One-Hot Encoding
encoded_data = pd.get_dummies(data)
print(encoded_data)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1       False         True      False
2        True        False      False
3       False        False       True

Preprocessing

In [117]:
import pandas as pd

raw_data = pd.DataFrame({
    'Age': [25, None, 30, 28],
    'Gender': ['Male', 'Female', None, 'Male'],
    'Salary': [50000, 60000, None, 58000]
})

print("Raw Data:")
print(raw_data)

Raw Data:
    Age  Gender   Salary
0  25.0    Male  50000.0
1   NaN  Female  60000.0
2  30.0    None      NaN
3  28.0    Male  58000.0

Data Types

In [118]:
data = pd.DataFrame({
    'Student ID': [101, 102, 103],
    'Score': [85.5, 90.0, 76.0],
    'Grade': pd.Series(['A', 'A+', 'B'], dtype="category"),
    'Section': pd.Series(['X', 'AX', 'BX'], dtype="category")
})

print("Data Types:")
print(data.dtypes)
print("\nData Preview:")
print(data)

Data Types:
Student ID       int64
Score          float64
Grade         category
Section       category
dtype: object

Data Preview:
   Student ID  Score Grade Section
0         101   85.5     A       X
1         102   90.0    A+      AX
2         103   76.0     B      BX

Feature Scaling

Absolute Max Scaling

In [119]:
import numpy as np

X = np.array([[29, 890,45,22], [98,-15,9,0], [0, -30,4,2]])
X_scaled = X / np.max(np.abs(X), axis=0)
print(np.round(X_scaled, 2))

[[ 0.3   1.    1.    1.  ]
 [ 1.   -0.02  0.2   0.  ]
 [ 0.   -0.03  0.09  0.09]]

Import dataset (CSV in GDrive)

In [120]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Example path
file_path = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(file_path)
print(df.head())

KeyboardInterrupt:

Handling Missing Data

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Age': [34, np.nan, 65, 12],
    'Income': [32330, 0, np.nan, 0]
})

df['Age'] = df['Age'].fillna(df['Age'].median())
df['Income'] = df['Income'].fillna(df['Income'].mean())

print(df)

Categorical Data (Label Encoding)

In [ ]:
from sklearn.preprocessing import LabelEncoder

df = pd.DataFrame({
    'Fruit&Vegetables': ['Cucumber', 'Guava', 'Pineapple', 'Strawberry']
})

le = LabelEncoder()
df['Fruit&Veg_Label'] = le.fit_transform(df['Fruit&Vegetables'])

print(df)

Combined Scaling + Encoding

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

df = pd.DataFrame({
    'Age': [32, 30, 25],
    'City': ['Delhi', 'Mumbai', 'Bangalore']
})

ct = ColumnTransformer(transformers=[
    ('num', StandardScaler(), ['Age']),
    ('cat', OneHotEncoder(), ['City'])
])

output = ct.fit_transform(df)
print(output.toarray() if hasattr(output, 'toarray') else output)

Assignment